body {
  background-color: rgb(53, 53, 53);
}

.stickies-board {
  width: 1410px;
}

.month-container {
  display: flex;
  width: 1410px;
  overflow-x: scroll;
}

[id^="id-"] {
  display: flex;
  width: 1410px;
  overflow-x: scroll;
}

.month-title {
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 0.5px solid green;
}
.to-sticky-btn {
  position: fixed;
  top: 10px;
  left: 50px;
  display: flex;
  justify-items: start;
}
.create-sticky {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  width: 300px;
  height: 35px;
  text-align: center;
}
.create-sticky:hover {
  color: green;
}
.create-sticky:active {
  color: red;
}

.scroll-btns-container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

#slideLeft,
#slideRight {
  font-size: 30px;
  color: white;
}
#slideLeft:hover,
#slideRight:hover {
  color: green;
}
#slideLeft:active,
#slideRight:active {
  color: red;
}

.years-btn-container {
  display: flex;
  justify-content: center;
}

.year-btn {
  text-align: center;
  font-size: 25px;
  color: white;

  margin-right: 10px;
  margin-left: 10px;
}

.year-btn:hover {
  color: red;
}

.year-btn:active {
  color: green;
}
.year-btn:focus {
  color: green;
}

.no-sticky {
  margin-top: 50%;
  text-align: center;
  color: white;
  animation: colorNoSticky 2s 100;
}

@keyframes colorNoSticky {
  0% {
    color: rgb(229, 208, 53);
  }
  25% {
    color: white;
  }
  75% {
    color: white;
  }
  100% {
    color: rgb(229, 208, 53);
  }
}
