button {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
}

body ::-webkit-scrollbar {
  background-color: transparent;
}

textarea {
  resize: none;
}

.sticky-container {
  display: flex;
  width: 450px;
  height: 280px;
  margin: 10px;
  margin-top: 60px;
  background-image: url("../../images/stickyNote.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.sticky-content {
  width: 410px;
  height: 220px;
  background-color: transparent;
  margin: 20px;
}

.sticky-content .header {
  display: flex;
  justify-content: center;
  margin: 20px 50px 0px 50px;
  color: green;
}

.input-title {
  border: none;
  background: transparent;
  font-size: 32px;
  color: green;
  font-weight: bold;
  text-align: center;
  width: 250px;
}

.input-title:focus {
  outline: none;
}
.input-title:focus::placeholder {
  color: transparent;
}

.input-title::placeholder {
  font-size: 32px;
  text-align: center;
  color: green;
  font-weight: bold;
}

.sticky-content .body {
  margin: 0px 10px 0px 10px;
  height: 70px;
  overflow-y: auto;
  color: black;
  text-align: center;
  font-style: italic;
}

.input-body {
  height: 40px;
  width: 350px;
  background: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.input-body:focus {
  outline: none;
}

.input-body:focus::placeholder {
  color: transparent;
}

.input-body::placeholder {
  text-align: center;
}

.sticky-content .footer {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  margin: 10px 20px;
}
.sticky-content .footer .date {
  color: green;
  display: flex;
}

.edit-btn {
  color: black;
  font-weight: bold;
}

.edit-btn:hover {
  color: white;
}

.delete-btn {
  color: red;
  font-weight: bold;
}
.delete-btn:hover {
  color: white;
}
.submit-btn {
  color: red;
  font-weight: bold;
}
.submit-btn:hover {
  color: white;
}

.input-date {
  width: 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  color: green;
}
.input-date::placeholder {
  color: green;
}

.input-date .year {
  width: 40px;
}

.input-date:focus {
  outline: none;
}
.input-date:focus::placeholder {
  color: transparent;
}

.delete-btn:disabled {
  color: gray;
  opacity: 0.3;
}
.edit-btn:disabled {
  color: gray;
  opacity: 0.3;
}
